:root {
    --cor_de_fundo:#000000;
    --cor_primaria_fonte:#FFCC00;

}
* {
    margin: 0;
    padding: 0;
}
.painel {
    width: 100%;
    height: 50px;
    background-color: var(--cor_de_fundo);
    color: #FFFFFF;
    top: 10px;

}
.rodape {
    background-color: var(--cor_de_fundo);
    width: 100%;
    height: 50px;

}
.conteudo {
    width: 100%;
    height: 826px;
    text-align: center;

}

